/Calculator/target/
/Calculator/nbproject/
/ShoppingCart/target/
/ShoppingCart/nbproject/
/TemperatureConvertor/nbproject/
/TemperatureConvertor/target/
/TaskManager/nbproject/
/TaskManager/target/
/StringUtils/nbproject/
/StringUtils/target/
