/Calculator/target/
/Calculator/nbproject/
/ShoppingCart/target/
/ShoppingCart/nbproject/
/TemperatureConvertor/nbproject/
/TemperatureConvertor/target/
/TaskManager/nbproject/
/TaskManager/target/
/StringUtils/nbproject/
/StringUtils/target/
/SystemInfo/nbproject/
/SystemInfo/target/
/EnvoinmentVariableTests/nbproject/
/EnvoinmentVariableTests/target/
/WeekDayTests/nbproject/
/WeekDayTests/target/
